secrets: secrets.yml

templates:

  global:

    # Limit download when filesystem is almost full
    free_space:
      path: '{{ secrets.dirs.rootmedia }}'
      space: 50000
    #regexp:
      #reject:
        #- (s|d)ub(s|bed)?\b: {from: title}                    # Block any subbed/dubbed/etc videos
        #- \bspanish\b: {from: title}                          # Spanish releases kept cropping up
        #- \bitalian\b: {from: title}                          # Italian releases too.
        #- \b(duo|tri|quadri|tetra|penta)logy\b: {from: title} # Block series, only accept one at a time
        #- \b3-?D\b: {from: title}                             # I don't have any 3D displays
        #- \btrailer\b: {from: title}                          # I've gotten a few trailers that matched as movies. VERY annoying
        #- \bR5\b: {from: title}                               # The following are poor quality types that somehow got through the quality
        #- \bWEBSCR\b: {from: title}                           # features usually due to the title including a keyword like "720p" as well
        #- \bscreener\b: {from: title}
        #- \bTS\b: {from: title}
        #- \bCam\b: {from: title}
        #- '{C_P}': {from: title}                              # The following are groups with poor quality releases
        #- TrTd TeaM: {from: title}
        #- \[TNTVillage\]: {from: title}
        #- \[facepalm\]: {from: title}
        #- \bASAP\b: {from: title}
        #- the.day.of.the.doctor                               # The following are titles that caused me issues from plugin
    torrent_alive:
      min_seeds: 2
      reject_for: 1 day
    content_filter:
      require:
        - '*.avi'
        - '*.mkv'
        - '*.mpg'
        - '*.mp4'
      reject:
        - 'password.txt'
        - '*.wmv'
        - '*.r0*'
        - '*.part0*'
      
  movies_global:
    
    archive: [movies]
    content_size:
      max: 8000
      min: 1800
    proper_movies: yes
    quality: 1080p+ h264|h265 dd5.1|truehd|dts|dtshd|ac3
    exists_movie:
      path: '{{ secrets.dirs.movies }}'
      type: dirs
      allow_different_qualities: better
    deluge:
      username: '{{ secrets.deluge.username }}'
      password: '{{ secrets.deluge.password }}'
      label: "Movies"
    parsing:
      movie: guessit
    
  tv_global:
    
    archive: [tv]
    content_size:
      max: 2000
      min: 200
    exists_series: 
      path: '{{ secrets.dirs.shows }}'
      allow_different_qualities: better
    trakt_lookup: yes
    configure_series:
      settings:
        quality: 720p|1080p
        identified_by: ep
      from:
        trakt_list:
          account: '{{ secrets.trakt.acct1 }}'
          list: My TV Shows
          type: shows
          strip_dates: yes
    deluge:
      username: '{{ secrets.deluge.username }}'
      password: '{{ secrets.deluge.password }}'
      label: "TV Shows"
  
tasks:

  trakt_movie_list_fill:

    priority: 1
    trakt_list:
      username: '{{ secrets.trakt.acct1 }}'
      account: '{{ secrets.trakt.acct1 }}'
      list: watchlist
      type: movies
    accept_all: yes
    list_add:
      - movie_list: watchlist from trakt
    
  movie_list_download:
    
    template: [movies_global]
    priority: 10
    discover:
      what:
        - movie_list: watchlist from trakt
      from:
        - t411:
            category: Film
            terms:
              - Multi (Français inclus)
              - 2D
              - Bluray
              - Bluray 4K
              - Web-Dl 1080
              - HDrip 1080
              - HDlight 1080
            max_results: 200
        - flexget_archive: [movies]
      interval: 10 hours
    list_add:
      - movie_list: watchlist from trakt
    list_remove:
      - trakt_list:
          account: '{{ secrets.trakt.acct1 }}'
          list: watchlist

  movies_auto_download:
    
    template: [movies_global]
    priority: 20
    imdb:
      min_score: 6.2
      min_votes: 7000
      min_year: 2015
      reject_genres:
        - musical
        - documentary
      reject_mpaa_ratings:
        - G
    t411:
      category: Film
      terms:
        - Multi (Français inclus)
        - 2D
        - Bluray
        - Bluray 4K
        - Web-Dl 1080
        - HDrip 1080
        - HDlight 1080
      max_results: 200
    t411_lookup: fill
  
  follow_show_from_ep:
    
    priority: 50
    trakt_list:
      username: '{{ secrets.trakt.acct1 }}'
      account: '{{ secrets.trakt.acct1 }}'
      list: watchlist
      type: episodes
      strip_dates: yes
    accept_all: yes
    set_series_begin: yes
    list_remove:
      - trakt_list:
          account: '{{ secrets.trakt.acct1 }}'
          list: watchlist
    list_add:
      - trakt_list:
          account: '{{ secrets.trakt.acct1 }}'
          list: My TV Shows
          type: shows
  
  tv_shows_download:
  
    priority: 60
    template: [tv_global]
    discover:
      what:
        - next_series_episodes: yes
      from:
        - t411:
            category: Série TV
            terms:
              - VOSTFR
              - Multi (Français inclus)
              - Web-Dl 720
              - Web-Dl 1080
              - HDlight 1080
              - HDlight 720
              - Web-Dl
              - HDrip 720
              - HDrip 1080
              - BDrip/BRrip
              - TVripHD 1080
              - TVripHD 1080
            max_results: 300
        - flexget_archive: [tv]
    t411_lookup: fill

  sync_trakt_series:
    
    manual: yes    
    next_trakt_episodes:
      username: '{{ secrets.trakt.acct1 }}'
      account: '{{ secrets.trakt.acct1 }}'
      position: next
      list: My TV Shows
      strip_dates: yes
    set_series_begin: yes
    accept_all: yes
    
    
schedules:
  - tasks: [follow_show_from_ep, tv_shows_download]
    interval:
      hours: 4
  
  - tasks: [trakt_movie_list_fill, movie_list_download, movies_auto_download]
    interval:
      hours: 10