secrets: secrets.yml

templates:

  global:  
    free_space:
      path: '{{ secrets.dirs.rootmedia }}'
      space: 50000
    content_filter:
#      require:
#        - '*.avi'
#        - '*.mkv'
#        - '*.mpg'
#        - '*.mp4'
      reject:
        - 'password.txt'
        - '*.wmv'
        - '*.r0*'
        - '*.part0*'
    disable:
      - seen
      - seen_info_hash
      
  movies_global:
    archive: [movies]
    content_size:
      max: 8000
      min: 1800
    assume_quality: 720p webrip h264 aac
    quality: 1080p+ webrip+ h264+ aac+
    exists_movie:
      path: '{{ secrets.dirs.movies }}'
      type: dirs
      allow_different_qualities: better
    imdb_lookup: yes
    parsing:
      movie: internal

  tv_global:    
    archive: [tv]
    content_size:
      max: 2000
      min: 200
    exists_series: 
      path: '{{ secrets.dirs.shows }}'
      allow_different_qualities: better
    trakt_lookup: yes
    configure_series:
      settings:
        quality: 1080p
        identified_by: ep
      from:
        trakt_list:
          account: '{{ secrets.trakt.acct1 }}'
          list: My TV Shows
          type: shows
          strip_dates: yes
    deluge:
      username: '{{ secrets.deluge.username }}'
      password: '{{ secrets.deluge.password }}'
      label: "tv_shows"
  
tasks:

  trakt_movie_list_fill1:
    priority: 1
    trakt_list:
      username: '{{ secrets.trakt.acct1 }}'
      account: '{{ secrets.trakt.acct1 }}'
      list: watchlist
      type: movies
    accept_all: yes
    list_add:
      - movie_list: watchlist from trakt

  trakt_movie_list_fill2:
    priority: 2
    trakt_list:
      username: '{{ secrets.trakt.acct2 }}'
      list: watchlist
      type: movies
    accept_all: yes
    list_add:
      - movie_list: watchlist from trakt
    
  movie_list_download:
    template: [movies_global]
    priority: 10
    discover:
      what:
        - movie_list: watchlist from trakt
      from:
        - t411:
            category: Film
            terms:
              - Multi
              - 2D
              - Bluray
              - Bluray 4K
              - Web-Dl 1080
              - HDrip 1080
              - HDlight 1080
            max_results: 200
        - flexget_archive: [movies]
      interval: 10 hours
    list_remove:
      - movie_list: watchlist from trakt
    deluge:
      username: '{{ secrets.deluge.username }}'
      password: '{{ secrets.deluge.password }}'
      label: "movies_list"

  movies_auto_discover:
    template: [movies_global]
    priority: 20
    imdb:
      min_score: 5.0
      min_votes: 4000
      min_year: 2015
      reject_genres:
        - documentary
    t411:
      category: Film
      terms:
        - Multi
        - 2D
        - Bluray
        - Bluray 4K
        - Web-Dl 1080
        - HDrip 1080
        - HDlight 1080
      max_results: 200
    t411_lookup: fill
    digest: 
      list: movies_auto_result_discover
      state: accepted

  movies_auto_filter1:
    priority: 21
    from_digest:
      list: movies_auto_result_discover  
      expire : yes
    trakt_lookup:
      username: '{{ secrets.trakt.acct1 }}'
    if:
      - trakt_watched: reject
    digest: 
      list: movies_auto_result_filtered_1
      state:
        - accepted

  movies_auto_filter2:
    priority: 22
    from_digest:
      list: movies_auto_result_filtered_1
      expire : yes
    trakt_lookup:
      username: '{{ secrets.trakt.acct2 }}'
    if:
      - trakt_watched: reject
    digest: 
      list: movies_auto_result_filtered_2
      state:
        - accepted
  
  movies_auto_download:
    priority: 23
    from_digest:
      list: movies_auto_result_filtered_2
      expire : yes
    deluge:
      username: '{{ secrets.deluge.username }}'
      password: '{{ secrets.deluge.password }}'
      label: "movies_auto"


  
  follow_show_from_ep:
    priority: 50
    trakt_list:
      username: '{{ secrets.trakt.acct1 }}'
      account: '{{ secrets.trakt.acct1 }}'
      list: watchlist
      type: episodes
      strip_dates: yes
    accept_all: yes
    set_series_begin: yes
    list_remove:
      - trakt_list:
          account: '{{ secrets.trakt.acct1 }}'
          list: watchlist
    list_add:
      - trakt_list:
          account: '{{ secrets.trakt.acct1 }}'
          list: My TV Shows
          type: shows
  
  tv_shows_download:  
    priority: 60
    template: [tv_global]
    discover:
      what:
        - next_series_episodes: yes
      from:
        - t411:
            category: Série TV
            terms:
              - VOSTFR
              - Multi (Français inclus)
              - Web-Dl 720
              - Web-Dl 1080
              - HDlight 1080
              - HDlight 720
              - Web-Dl
              - HDrip 720
              - HDrip 1080
              - BDrip/BRrip
              - TVripHD 1080
              - TVripHD 1080
            max_results: 300
        - t411:
            category: Animation Série
            terms:
              - VOSTFR
              - Multi (Français inclus)
              - Web-Dl 720
              - Web-Dl 1080
              - HDlight 1080
              - HDlight 720
              - Web-Dl
              - HDrip 720
              - HDrip 1080
              - BDrip/BRrip
              - TVripHD 1080
              - TVripHD 1080
            max_results: 300
        - flexget_archive: [tv]
    t411_lookup: fill

  sync_trakt_series:  
    manual: yes    
    next_trakt_episodes:
      username: '{{ secrets.trakt.acct1 }}'
      account: '{{ secrets.trakt.acct1 }}'
      position: next
      list: My TV Shows
      strip_dates: yes
    set_series_begin: yes
    accept_all: yes
    
    
schedules:
  - tasks: [follow_show_from_ep, tv_shows_download]
    interval:
      hours: 4
  
  - tasks: [trakt_movie_list_fill1, trakt_movie_list_fill2, movie_list_download, movies_auto_discover, movies_auto_filter1, movies_auto_filter2, movies_auto_download]
    interval:
      hours: 10


##### FOR LATER 
    #pushbullet:
    #  apikey:
    #    - xxxxxxx1
    #    - xxxxxxx2
    #  title: >
    #    {% if series_name is defined %}{{tvdb_series_name|d(series_name)}} - {{series_id}}
    #    {% elif imdb_name is defined %}{{imdb_name}} ({{imdb_year}})
    #    { % else %}{{title}}
    #    {% endif %}
    #  body: >
    #    {% if series_name is defined %}{{tvdb_series_name|d(series_name)}} - {{series_id}} - {{tvdb_ep_name|d('')}}{% if quality is defined %} ({{quality}}){% endif %}
    #    {% elif imdb_name is defined %}{{imdb_name}} ({{imdb_year}}){% if quality is defined %} ({{quality}}){% endif %}
    #    {% else %}{{title}}{% if quality is defined %} ({{quality}}){% endif %}
    #    {% endif %}
