deluge:
  username: %deluge_username%
  password: %deluge_password%
  
trakt:
  acct1: %trakt_account%
  acct2: %trakt_account_friend%
  
dirs:
  rootmedia: /multimedia/
  shows: '/multimedia/TV Shows/'
  movies: '/multimedia/Movies/'